.store__productcard {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1), -2px -2px 5px 1px rgba(77, 70, 70, 0.1);
    width: 300px;
    height: 350px;
    min-height: 300px;
    max-width: 300px;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.store__productcard-counter {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.6rem;
    margin: 0.8rem;
    font-weight: 600;
}

.store__productcard-price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8rem;
    margin: 0.8rem;
    font-weight: bold;
    color: red;
}

.store__productcard-price--expired {
    text-decoration: line-through;
}

.store__productcard-img {
    align-self: center;
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.store__productcard-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.store__productcard-title {
    margin: 0;
    padding: 0.5rem 0;
    font-weight: bold;
}

.store__productcard-desc {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 100%;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875rem;
}

.store__productcard-footer {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

.store__productcard-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.store__productcard-link--disabled {
    pointer-events: none;
    color: gray;
}

.store__productcard-button {
    background-color: rgb(229 231 235);
    border-radius: 5px;
    font-weight: bold;
    padding: 0.2rem;
    margin-top: 0.5rem;
    width: 100%;
}
