.store__home {
    grid-area: main;
    padding: 1rem;
}

.store__home-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5rem;
    place-items: center;
}
