.store__navbar {
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: #363a45;
    padding: 0 1.2rem;
    font-size: 1em;
}

.store__navbar-img {
    width: 2rem;
    height: 2rem;
}

.store__navbar-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1.2rem;
    padding: 0 1.2rem;
}

.store__navbar-item {
    color: white;
    text-decoration: none;
}
